* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

/* header */

#headerr {
  background-color: #ffc045;
  height: 551px;
}

/* topbar */

#topbar {
  overflow: auto;
}

#burgerhousee {
  float: left;
}

#burgerhousee img {
  width: 150px;
  padding-left: 20px;
  padding-top: 21px;
}

#expressdel {
  float: right;
  margin-right: 135px;
  margin-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expreso {
  display: inline-block;
}

#expresslogo {
  size: 10px;
}

#expresslogo img {
  width: 26px;
  padding: right 10px;
}

#expresstext {
  font-size: 10px;
}

/* midbar */

#midbar {
  height: 50px;
  margin-top: -14px;
}

nav ul li {
  display: inline-block;
}

ul {
  margin: 16px;
  float: right;
  margin-right: 127px;
  margin-top: 2px;
  font-size: 13px;
}

.navigas {
  padding-right: 23px;
}

/* lastbar */

#lastbar {
  padding-top: 1px;

  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 94%;
  height: 403px;
  background-image: url(../images/specialll\ 2.jpg);
  position: static;
}

#lastbar #pop0 {
  width: 255px;
  height: 30px;

  border: 1px solid black;
  border-style: dashed;

  position: absolute;
  top: 221px;
  left: 75px;

  border-radius: 3px;
}

#lastbar #pop1 {
  font-size: 47px;
  text-align: right;
  margin-top: 109px;
}

#lastbar #pop2 {
  font-size: 76px;
  padding-left: 78px;
  margin-top: -13px;
}

#lastbar #pop3 {
  font-size: 163px;
  padding-left: 76px;

  height: 38%;
}

/* footer */

#footerr {
  height: 525px;
  margin: 31px;
  background-image: url(../images/footer.jpg);
}

/* foooterbar2 */

#footerbar2 {
  height: 70%;
}

/* footerbar */

#footerbar {
  overflow: auto;
}

#copyright {
  height: 19px;
  float: left;
  width: 281px;
  color: white;
  padding-left: 38px;
  margin-top: 110px;
}

#socialicon {
  height: 35px;
  float: right;
  padding-right: 38px;
  margin-top: 94px;
}

.fa-brands {
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
}

.fa-facebook-f {
  padding: 7px 9px;
}

#foott {
  height: 60%;
  margin-top: 132px;
  /* height: 19%;
  margin-top: 283px; */
}

#foott2 {
  color: white;
  font-size: 15px;
  position: relative;
  top: 116px;
  padding-left: 50px;
}

#foott3 {
  color: white;
  width: 36%;
  position: relative;
  font-size: 24px;
  top: 119px;
  left: 504px;
}

#foott4 {
  width: 34%;
  font-size: 25px;
  position: relative;
  top: 126px;
  left: 503px;
  color: white;
}

.fa-solid {
  float: left;
  padding-right: 48px;
  padding-left: 12px;
}
