* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

/* header */

#headerr {
  background-color: #ffc045;
  height: 525px;
  color: #3d2514;
}

/* topbar */

#topbar {
  overflow: auto;
}

#burgerhousee {
  float: left;
}

#burgerhousee img {
  width: 150px;
  padding-left: 20px;
  padding-top: 21px;
}

#expressdel {
  float: right;
  margin-right: 135px;
  margin-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expreso {
  display: inline-block;
}

#expresslogo {
  size: 10px;
  padding-right: 6px;
}

#expresslogo img {
  width: 26px;
}

#expresstext {
  font-size: 10px;
}

/* midbar */

#midbar {
  height: 50px;
  margin-top: -14px;
}

nav ul li {
  display: inline-block;
}

ul {
  margin: 16px;
  float: right;
  margin-right: 127px;
  margin-top: 2px;
  font-size: 13px;
}

nav ul a {
  color: #3d2514;
  text-decoration: none;
  padding: 8px 13px;
}

a:hover {
  color: white;
  background-color: #bf2222;
  border-radius: 8px;
}

/* lastbar */

#lastbar {
  padding-top: 1px;
  position: relative;
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 94%;
  height: 403px;
  background-image: url(../images/specialll\ 2.jpg);
  position: static;
}

#lastbar #pop0 {
  width: 497px;
  height: 37px;
  border: 1px solid black;
  border-style: dashed;
  position: absolute;
  top: 221px;
  left: 59px;
  border-radius: 3px;
}

#lastbar #pop1 {
  font-size: 27px;
  margin-left: 64px;
  text-align: left;
  margin-top: 109px;
  padding-bottom: 24px;
}

#lastbar #pop2 {
  font-size: 120px;
  padding-left: 51px;
  margin-top: -13px;
  font-weight: 900;
}

#lastbar #pop3 {
  font-size: 47px;
  padding-left: 52px;
  font-weight: 900;
  margin-top: -28px;
}

#lastbar #pop4 {
  font-weight: 900;
  font-size: 16px;
  position: absolute;
  right: 347px;
  width: 55px;
  text-align: center;
  bottom: -113px;
  color: white;
}

#dollor5 {
  font-size: 46px;
  position: absolute;
  top: -26px;
  left: -29px;
}

/* foodsection1 */

#foodsection1 {
  height: 347px;
  display: flex;
  margin: 50px;
}

#leftfsection {
  width: 50%;
  background-size: cover;
  background-image: url(../images/burgerimage2.jpg);
  background-repeat: no-repeat;
  margin-right: 30px;
  border-radius: 10px;
}

#rightfsection {
  width: 50%;
}

#rightfsection1 {
  background-image: url(../images/burgerimage3.jpg);
  border-radius: 10px;
  background-repeat: no-repeat;
  height: 155px;
  background-size: cover;
}

#rightfsection2 {
  background-image: url(../images/burgerimage4.jpg);
  height: 156px;
  margin-top: 35px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

#leftfsection p {
  color: white;
  margin-top: 30px;
  margin-left: 30px;
  width: 112px;
}

#rightfsection1 p {
  color: white;
  width: 94px;
  padding-top: 28px;
  padding-left: 32px;
}

#rightfsection2 p {
  color: white;
  padding-top: 28px;
  padding-left: 32px;
  width: 100px;
}

/* foodsection2 */

#foodsection2 {
  color: #3d2514;
}

/* alwaystext */
#alwaystextsec {
  display: block;
}

#textsec1 {
  background-color: #ffc045;
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  margin-right: 400px;
  margin-left: 412px;
  border-radius: 4px;
  font-weight: 900;
}

#textsec2 {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  font-size: 50px;
  font-weight: 900;
}

#textsec3 {
  margin-top: 12px;
  text-align: center;
}

/* foodsecburgur */

#foodsecburgur {
  margin-left: 15px;
  margin-right: 15px;
  height: 419px;
  display: flex;
  margin-top: 75px;
}

/* burgursec1 */

#burgursec1 {
  width: 33.33%;
}

#burgursec2 {
  width: 33.33%;
}

#burgursec3 {
  width: 33.33%;
}

#ordernowsec1 {
  background-image: url(../images/burger5-removebg-preview.png);
  height: 246px;
  background-repeat: no-repeat;
  background-size: contain;
}

#ordernowsec2 {
  font-size: 26px;
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
}

#ordernowsec3 {
  font-size: 14px;
  margin: 5px;
}

#ordernowsec4 {
  background-color: #bf2222;
  padding: 10px 47px;
  font-weight: bold;
  color: white;
  justify-content: center;
  display: flex;
  margin-top: 44px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
}
#ordernowsec4:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* burgursec2 */

#order2nowsec1 {
  background-image: url(../images/burger6-removebg-preview.png);
  height: 246px;
  background-repeat: no-repeat;
  background-size: contain;
}

#order2nowsec2 {
  font-size: 26px;
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
}

#order2nowsec3 {
  font-size: 14px;
  margin: 5px;
}

#order2nowsec4 {
  background-color: #bf2222;
  padding: 10px 47px;
  font-weight: bold;
  color: white;
  justify-content: center;
  display: flex;
  margin-top: 44px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
}

#order2nowsec4:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* burgursec3 */

#order3nowsec1 {
  background-image: url(../images/burger5-removebg-preview.png);
  height: 246px;
  background-repeat: no-repeat;
  background-size: contain;
}

#order3nowsec2 {
  font-size: 26px;
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
}

#order3nowsec3 {
  font-size: 14px;
  margin: 5px;
}

#order3nowsec4 {
  background-color: #bf2222;
  padding: 10px 47px;
  font-weight: bold;
  color: white;
  justify-content: center;
  display: flex;
  margin-top: 44px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
}
#order3nowsec4:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* upcoming event section */

#upcomingeve {
  display: flex;
  height: 286px;
  margin: 35px;
  margin-top: 90px;
}

#upcomingeveleft {
  height: 267px;
  width: 35%;
  padding-right: 200px;
}

#upcomingeveright {
  background-image: url(../images/burger7.jpg);
  width: 40%;
  height: 247px;
  background-repeat: no-repeat;
  background-size: contain;
}

#eventt1 {
  font-size: 27px;
  padding-top: 30px;
  padding-left: 36px;
  color: #3d3d3d;
}

#eventt2 {
  font-size: 39px;
  margin-top: 5px;
  margin-left: 28px;
  color: #3d2514;
  font-weight: bold;
}

#eventt3 {
  font-size: 16px;
  margin-right: -120px;
  margin-left: 31px;
  margin-top: 28px;
  color: #3d3d3d;
}

#doteve {
  height: 50px;
  display: flex;
  margin-left: 17px;
  margin-top: 37px;
}

#doteve1 {
  background-color: #ffc045;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 4px;
}

#doteve2 {
  background-color: #dcdcdc;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  margin-top: 15px;
}

#doteve3 {
  background-color: #dcdcdc;
  margin-top: 15px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* tablesection */

#tablesection {
  margin-right: 65px;
  margin-left: 65px;
  height: 360px;
  color: #3d2514;
}

#tabletextsec {
  height: 87px;
}

#tabletextsec1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#tabletextsec2 {
  text-align: center;
  margin-top: 4px;
  font-size: 47px;
  font-weight: bold;
}

#formsec {
  margin: 43px;
  height: 213px;
  display: flex;
}

#bottalimgg {
  background-image: url(../images/bottle-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 63px;
}

/* formsection */

#formbook {
  margin-left: 52px;
  margin-top: 20px;
}

.manfor {
  background-color: #ebae4c;
  border-style: none;
  padding: 13px 38px;
  border-radius: 4px;
  margin: 7px;
  margin-right: 13px;
}
#formbook {
  width: 536px;
  height: 164px;
}
::placeholder {
  color: #3d3d3d;
}
#findatablee {
  background-color: #bf2222;
  border-style: none;
  padding: 13px 87px;
  border-radius: 4px;
  margin: 7px;
  margin-right: 13px;
  color: white;
}

#findatablee:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

/* footer */

#footerr {
  height: 525px;
  margin: 31px;
  background-image: url(../images/footer.jpg);
  border-radius: 5px;
}

/* foooterbar2 */

#footerbar2 {
  height: 70%;
}

/* footerbar */

#footerbar {
  overflow: auto;
}

#copyright {
  height: 19px;
  float: left;
  width: 281px;
  color: white;
  padding-left: 38px;
  margin-top: 110px;
}

#socialicon {
  background-image: url(../images/new.jpg);
  float: right;
  width: 120px;
  height: 30px;
  margin-top: 104px;
  margin-right: 24px;
}

#foott {
  height: 60%;
  margin-top: 132px;
}

#foott2 {
  color: white;
  font-size: 15px;
  position: relative;
  top: 209px;
  padding-left: 50px;
  width: 46%;
}

#foott3 {
  color: white;
  position: relative;
  font-size: 31px;
  top: 119px;
  left: 598px;
}

#foott4 {
  font-size: 31px;
  position: relative;
  top: 126px;
  left: 598px;
  color: white;
}

.fa-solid {
  float: left;
  padding-right: 48px;
  padding-left: 12px;
}
